@import "compass/css3";

//mixins
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin flex-direction($value) {
  -webkit-flex-direction: $value;
  flex-direction: $value;
}

//Colors
$color1: #2F389D;
$color2: #181C7D;
$darkLight: #666;
$white: #EEE;
$gray: #999;

//Media queries
$small-device: 500px;
$medium-device: 800px;

//Main styles
html,body {
  background-color: #F5F5F5;
  padding: 0;
  margin: 0;
  height: 100%;
}
body{
  @include flexbox();
  @include flex-direction(column);
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;

}
header {
  background-color: $color1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 110px;
  @include flexbox();
  @include flex-direction(column);
  justify-content: space-between;
  h1 {
    height: 40px;
    display: block;
    margin: 0;
    padding: 0.5em;
    color: $white;
    font-size: 2em;
    @media all and (max-width: $small-device) {
      font-size: 1.5em;
      height: 30px;
    }
  }
  nav {
    width: 100%;
    align-self: flex-end;
    &>ul{
      list-style: none;
      margin: 0;
      padding: 0 1em;
      justify-content: center;
      @include flexbox();
      flex-flow: row wrap;
      background-color: $color2;
      &>li {
        position: relative;
      }
      li {
        a {
          color: $white;
          text-decoration: none;
          display: block;
          padding: 10px 10px 7px;
          border-bottom: 3px solid $color2;
          text-align: center;
          font-size: 0.8em;
          &:hover {
            border-bottom: 3px solid $white;
          }
          @media all and (max-width: $small-device) {
            font-size: 0.7em;
            padding: 2px;
          }
        }
        &>ul {
          background: $color1;
          position: absolute;
          padding: 0;
          list-style: none;
          width: 100%;
          overflow: hidden;
          @include opacity(0);
          @include transition-property(opacity);
          @include transition-duration(0.3s);
          @include transition-timing-function(ease-in);
        }
      }

      @media all and (max-width: $medium-device) {
        justify-content: space-around;
      }
      @media all and (max-width: $small-device) {
        @include flex-direction(column);
      }
    }
  }
  @media all and (max-width: $small-device) {
    height: 150px;
  }
}
